<%= link_to "home", root_path %>
<% @secret_code.each do |f|%>
	<div>
		<label>Secret Code </label>
		<%= f.secret_code%>
		<% if f.user.present? %>
		<label>Email </label>
		<%= f.user.email%>
	<% end %>
	</div>	
<% end %>
</br></br>
<%= form_tag user_secret_codes_path,:method=>'post' do %>
	<%= select_tag "number", options_for_select([ "1" , "10", "20", "50", "100" ], "10")%></br></br>
	<%= submit_tag "Generate More secret Code" %>  
<% end %>